name: AWS Inference CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3


    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install deps
      run: pip install -r requirements.txt

    - name: Run tests
      run: pytest

    - name: Build Docker image
      run: docker build -t inference-api .

    - name: DockerHub Login
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Image
      run: |
           docker tag inference-api ${{ secrets.DOCKER_USERNAME }}/inference-api:${{ github.sha }}
           docker push ${{ secrets.DOCKER_USERNAME }}/inference-api:${{ github.sha }}
    - name: Push Image
      run: |
        docker tag inference-api ${{ secrets.DOCKER_USERNAME }}/inference-api
        docker push ${{ secrets.DOCKER_USERNAME }}/inference-api
